<!DOCTYPE html>
<html lang="pt">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Serviços</title>
	<link rel="stylesheet" href="../css/screencall.css">
	<link rel="stylesheet" href="../css/bootstrap.min.css">

	<style>
		body {
			/* overflow: hidden; */
			background: #d6d6d6;
		}

		main {
			justify-content: center;
		}

		.fs-1 {
			font-size: 2.5rem !important;
			text-align: center;
		}

		.card {
			height: 200px;
			width: 600px;
		}

		.div2 {
			width: 400px;
			border: 0px;
		}

		.btn {
			display: inline-block;
			font-weight: 400;
			line-height: 1.5;
			color: #212529;
			text-align: center;
			text-decoration: none;
			vertical-align: middle;
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			user-select: none;
			background-color: transparent;
			border: 1px solid transparent;
			padding: 0.375rem 0.75rem;
			font-size: 1rem;
			border-radius: 0.25rem;
			transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
		}

		.btn-primary {
			color: #fff;
			background-color: #97c11f;
			border-color: #97c11f;
		}

		.btn-primary:hover {
			background: #fff;
			color: #97c11f;
		}

		.btn {
			padding: 0.5rem 1rem;
			font-size: 1.25rem;
			border-radius: 0.3rem;
		}

		.svg-inline--fa {
			display: inline-block;
			font-size: inherit;
			height: 1em;
			overflow: visible;
			vertical-align: -0.125em;
		}

		.svg-inline--fa.fa-w-16 {
			width: 1em;
		}

		.btn-secondary {
			color: #fff;
			background-color: #6c757d;
			border-color: #6c757d;
		}

		.btn-secondary:hover {
			background: #fff;
			color: #6c757d;
		}

		a {
			text-decoration: none;
			color: #97c11f;
		}

		.btn-danger {
			color: #fff;
			background-color: #c82333;
			border-color: #bd2130;
		}

		
	</style>
</head>

<body>
	<%- include('includes/header'); %>

	<main>

		<div class="container" style="padding-top: 100px;">
			<button type="button" class="btn btn-primary mb-5" data-toggle="modal" data-target="#cadastrarModal"
				data-whatever="@mdo">Cadastrar Serviço
				<svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-list-ul fa-lg" viewBox="0 0 512 512"><path fill="currentColor" d="M24 32c13.3 0 24 10.7 24 24V408c0 13.3 10.7 24 24 24H488c13.3 0 24 10.7 24 24s-10.7 24-24 24H72c-39.8 0-72-32.2-72-72V56C0 42.7 10.7 32 24 32zM128 136c0-13.3 10.7-24 24-24l208 0c13.3 0 24 10.7 24 24s-10.7 24-24 24l-208 0c-13.3 0-24-10.7-24-24zm24 72H296c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96H424c13.3 0 24 10.7 24 24s-10.7 24-24 24H152c-13.3 0-24-10.7-24-24s10.7-24 24-24z"/></svg>
			</button>
			<table class="table" style="background: #fff; border-radius: 0.3rem;">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Nome</th>
						
						<th scope="col">Status</th>
						<th scope="col">Sub Serviços</th>
						<th scope="col">Açcão</th>
					</tr>
				</thead>
				<tbody>
					<% for(service of services){ %>
					<tr>
						<th scope="row"><%- service.id %></th>
						<td><%- service.name %></td>
					
						<td>
							<label class="container">
								<input type="checkbox" class="myCheckbox" data-id="<%- service.id %>"  <%- service.status ? 'checked' : '' %> />
								<span class="checkmark"></span>
							   </label>							   
						</td>
						<td>
							<label class="container">
								<input type="checkbox" class="submyCheckbox" data-id="<%- service.id %>"  <%- service.service_status_submenu ? 'checked' : '' %> />
								<span class="checkmark"></span>
							   </label>							   
						</td>
						<td>
							<button type="button" class="btn btn-primary edit-btn" data-toggle="modal" data-target="#editModal"
								data-service-id="<%- service.id %>">
								<svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-list-ul fa-lg" viewBox="0 0 512 512"><path fill="currentColor" d="M441 58.9L453.1 71c9.4 9.4 9.4 24.6 0 33.9L424 134.1 377.9 88 407 58.9c9.4-9.4 24.6-9.4 33.9 0zM209.8 256.2L344 121.9 390.1 168 255.8 302.2c-2.9 2.9-6.5 5-10.4 6.1l-58.5 16.7 16.7-58.5c1.1-3.9 3.2-7.5 6.1-10.4zM373.1 25L175.8 222.2c-8.7 8.7-15 19.4-18.3 31.1l-28.6 100c-2.4 8.4-.1 17.4 6.1 23.6s15.2 8.5 23.6 6.1l100-28.6c11.8-3.4 22.5-9.7 31.1-18.3L487 138.9c28.1-28.1 28.1-73.7 0-101.8L474.9 25C446.8-3.1 401.2-3.1 373.1 25zM88 64C39.4 64 0 103.4 0 152V424c0 48.6 39.4 88 88 88H360c48.6 0 88-39.4 88-88V312c0-13.3-10.7-24-24-24s-24 10.7-24 24V424c0 22.1-17.9 40-40 40H88c-22.1 0-40-17.9-40-40V152c0-22.1 17.9-40 40-40H200c13.3 0 24-10.7 24-24s-10.7-24-24-24H88z"/></svg>
							</button>
							<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#deleteModal">
								<svg xmlns="http://www.w3.org/2000/svg" class="svg-inline--fa fa-list-ul fa-lg" viewBox="0 0 448 512"><path fill="currentColor" d="M170.5 51.6L151.5 80h145l-19-28.4c-1.5-2.2-4-3.6-6.7-3.6H177.1c-2.7 0-5.2 1.3-6.7 3.6zm147-26.6L354.2 80H368h48 8c13.3 0 24 10.7 24 24s-10.7 24-24 24h-8V432c0 44.2-35.8 80-80 80H112c-44.2 0-80-35.8-80-80V128H24c-13.3 0-24-10.7-24-24S10.7 80 24 80h8H80 93.8l36.7-55.1C140.9 9.4 158.4 0 177.1 0h93.7c18.7 0 36.2 9.4 46.6 24.9zM80 128V432c0 17.7 14.3 32 32 32H336c17.7 0 32-14.3 32-32V128H80zm80 64V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16zm80 0V400c0 8.8-7.2 16-16 16s-16-7.2-16-16V192c0-8.8 7.2-16 16-16s16 7.2 16 16z"/></svg>
							</button>
							<% if (service.service_status_submenu) { %>
							<a href="/admin/submenu/<%- service.id %>" class="btn btn-primary ">
								<svg aria-hidden="true"  focusable="false" data-prefix="fas" data-icon="list-ul" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" class="svg-inline--fa fa-list-ul fa-lg"><path fill="currentColor" d="M64 144a48 48 0 1 0 0-96 48 48 0 1 0 0 96zM192 64c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zm0 160c-17.7 0-32 14.3-32 32s14.3 32 32 32H480c17.7 0 32-14.3 32-32s-14.3-32-32-32H192zM64 464a48 48 0 1 0 0-96 48 48 0 1 0 0 96zm48-208a48 48 0 1 0 -96 0 48 48 0 1 0 96 0z" class=""></path></svg>
								<svg aria-hidden="true" focusable="false" data-prefix="fas" data-icon="angle-right" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512" class="margin-left-sm svg-inline--fa fa-angle-right fa-lg"><path fill="currentColor" d="M278.6 233.4c12.5 12.5 12.5 32.8 0 45.3l-160 160c-12.5 12.5-32.8 12.5-45.3 0s-12.5-32.8 0-45.3L210.7 256 73.4 118.6c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l160 160z" class=""></path></svg>
							</a>
							<% } %>
						</td>
					</tr>
					<% } %>
				</tbody>
			</table>
		</div>
		</div>
	</main>

	<div class="modal fade" id="cadastrarModal" tabindex="-1" aria-labelledby="Cadastrar" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="Cadastrar">Cadastrar Serviços</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form action="/service" method="post">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Nome:</label>
							<input type="text" class="form-control" id="recipient-name" name="name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Descrição:</label>
							<input type="text" class="form-control" id="recipient-name" name="description">
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
							<button type="submit" class="btn btn-primary">Cadastrar Serviço</button>
						</div>
					</form>
				</div>

			</div>
		</div>
	</div>

	<!-- modal edit -->
	<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="Cadastrar" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="Cadastrar">Editar Serviços</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form>
						<input type="hidden" id="serviceId" name="serviceId" value="">
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Nome:</label>
							<input type="text" class="form-control" id="recipient-name">
						</div>
						<div class="form-group">
							<label for="recipient-name" class="col-form-label">Descrição:</label>
							<input type="email" class="form-control" id="recipient-name">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary">Atualizar Serviço</button>
				</div>
			</div>
		</div>
	</div>

	<!-- modal delete -->
	<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="deleteModalLabel">Eliminar</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					Tens certeza que queres eliminar?
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary">Eliminar</button>
				</div>
			</div>
		</div>
	</div>

	<script src="../js/jquery.min.js"></script>
	<script src="../js/bootstrap.min.js"></script>
	<script src="../js/axios.js"></script>
	<script>
		$('.edit-btn').on('click', function () {
			var serviceId = $(this).data('service-id');
			$('#serviceId').val(serviceId);
			$('#editModal').modal('show');
		});


		// Adicionando um evento de clique ao checkbox
      const check = document.querySelectorAll(".myCheckbox");
      const subCheck = document.querySelectorAll(".submyCheckbox");

			check.forEach(item => {
				item.addEventListener("click", function() {
            // Obtendo o estado atual do checkbox
            var isChecked = this.checked;   
            axios.post(`http://172.17.1.19:3000/service/updated/${item.dataset.id}`, 
						{ 
							status: isChecked 
						})
                .then(function (response) {
                    console.log(response.data);
                    // Faça algo com a resposta da API, se necessário
                })
                .catch(function (error) {
                    console.error('Erro ao enviar status para a API:', error);
                });
        });
			})
			subCheck.forEach(item => {
				item.addEventListener("click", function() {
            // Obtendo o estado atual do checkbox
            var isChecked = this.checked;   
            axios.post(`http://172.17.1.19:3000/service/updated/${item.dataset.id}`, 
						{ 
							service_status_submenu: isChecked 
						})
                .then(function (response) {
									location.reload();
                    console.log(response.data);
                    // Faça algo com a resposta da API, se necessário
                })
                .catch(function (error) {
                    console.error('Erro ao enviar status para a API:', error);
                });
        });
			})
			

	</script>
</body>

</html>